{
	"tabWidth": 2,
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 80,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"semi": true,
	"parser": "typescript",
	"endOfLine": "lf",
	"functionParameters": "multi-line"
}
