{
	"tabWidth": 2,
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"semi": false,
	"parser": "typescript",
	"endOfLine": "lf"
}
